{erl_opts, [{parse_transform, lager_transform},
            %% warnings_as_errors,
            debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "2.1.1"},
  {fifo_lager, ".*", {git, "https://github.com/project-fifo/fifo_lager.git", {tag, "0.1.0"}}},
  {cuttlefish, ".*", {git, "https://github.com/tsloughter/cuttlefish.git", {branch, "develop"}}},

  {jsx, "1.4.5"},
  {erlsom, ".*", {git, "http://github.com/willemdj/erlsom.git", {ref, "bc48604f7a74440da66aa7dba95a3bf634fdf138"}}},
  {ranch, "1.1.0"},
  {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {tag, "0.4.7"}}},
  {erltrace, "0.1.4"},
  jsxd,
  eplugin,
  ekstat,
  fifo_utils,
  {fifo_s3, "0.1.*", {git, "https://github.com/project-fifo/fifo_s3.git", {tag, "0.1.13"}}},
  {libsniffle, "0.3.*", {git, "http://github.com/project-fifo/libsniffle.git", {tag, "0.3.29"}}},
  {libsnarl, "0.3.*", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.32"}}},
  {libhowl, "0.3.*", {git, "https://github.com/project-fifo/libhowl.git", {tag, "0.3.29"}}},
  {fifo_dt, "0.1.*", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.54"}}},
  {fifo_spec, "0.1.*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.21"}}},
  smurf,
  lager_watchdog,
  eper,
  recon
 ]}.

{plugins,
 [pc,
  {rebar3_cuttlefish, ".*", {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
 ]}.

{overrides,
 [
  %% R18
  {override, mdns_client_lib,
   [{erl_opts, [debug_info, {parse_transform, lager_transform}]}]},
  {override, eper,
   [{erl_opts, [debug_info]}]},
  {override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.

{profiles,
 [
  {prod, [{relx, [{dev_mode, false}]}]}
 ]}.

{provider_hooks,
 [{post, [{release, cuttlefish}]}]}.

{relx,
 [{release, {"chunter", "0.7.0p4"},
   [
    sasl,
    chunter,
    {cuttlefish, load},
    {recon, load},
    {eper, load}
   ]},
  {semver, ""},
  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    %% for some reason this is only in default
    {copy, "_build/default/bin/cuttlefish", "bin/cuttlefish"},

    {copy, "share", "share"},
    {copy, "_build/default/lib/fifo_utils/priv/update_config.sh", "share/"},
    {template, "schema/chunter.schema", "share/schema/00-chunter.schema"},
    {template, "_build/default/lib/libsnarl/priv/libsnarl.schema", "share/schema/01-libsnarl.schema"},
    {template, "schema/erlang_vm.schema", "share/schema/01-vm.schema"},
    {template, "_build/default/lib/fifo_lager/priv/lager.schema", "share/schema/02-lager.schema"},
    {template, "_build/default/lib/mdns_client_lib/priv/mdns_client.schema", "share/schema/01-mdns_client.schema"},
    {template, "rel/files/chunter", "bin/chunter"},
    {template, "rel/files/update", "bin/update"},
    {template, "rel/files/chunter.version", "etc/chunter.version"},
    {copy, "LICENSE", "LICENSE"},
    {copy, "README.md", "README.md"}]}]}.

%% Cuttlefish filename
{cuttlefish_filename, "chunter.conf.example"}.
