{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps"},
            {i, "deps"},
            {parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{sub_dirs, ["rel", "apps/chunter"]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {ensq, ".*", {git, "git://github.com/project-fifo/ensq.git", {branch, master}}},
  {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "505400716dbc76ec9387d9d4335819b3bdcff9b2"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.4.2"}}},
  {erlsom, ".*", {git, "http://github.com/willemdj/erlsom.git", {tag, "bc48604f7a74440da66aa7dba95a3bf634fdf138"}}},
  {ranch, "0.10.*", {git, "https://github.com/extend/ranch.git", {tag, "0.10.0"}}},
  {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {branch, "master"}}},
  {erltrace, ".*", {git, "https://github.com/project-fifo/erltrace.git", {tag, "0.1.2"}}},
  {jsxd, ".*", {git, "http://github.com/Licenser/jsxd.git", {tag, "0.1.6"}}},
  {eplugin, ".*", {git, "http://github.com/Licenser/eplugin.git", {tag, "0.1.1"}}},
  {ekstat, ".*", {git, "https://github.com/Licenser/ekstat.git", {tag, "0.1.0"}}},
  {fifo_s3, ".*", {git, "https://github.com/project-fifo/fifo_s3.git", {branch, "master"}}},
  {libsniffle, ".*", {git, "http://github.com/project-fifo/libsniffle.git", {branch, test}}},
  {libsnarl, ".*", {git, "http://github.com/project-fifo/libsnarl.git", {branch, test}}},
  {libhowl, ".*", {git, "http://github.com/project-fifo/libhowl.git", {branch, test}}},
  {smurf, ".*", {git, "http://github.com/project-fifo/smurf.git", {branch, master}}},
  {fifo_dt, ".*", {git, "https://github.com/project-fifo/fifo_dt.git", {branch, master}}},
  {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {branch, test}}}
 ]}.
{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
