{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps"}, 
	    {i, "deps"}, 
	    {parse_transform, lager_transform},
            warnings_as_errors,
	    debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{sub_dirs, ["rel", "apps/chunter"]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}},
  {erlsom, ".*", {git, "http://github.com/willemdj/erlsom.git", {tag, "bc48604f7a74440da66aa7dba95a3bf634fdf138"}}},
  {ranch, "0.8.*", {git, "https://github.com/extend/ranch.git", {tag, "0.8.3"}}},
  {erltrace, ".*", {git, "https://github.com/project-fifo/erltrace.git", {tag, "0.1.2"}}},
  {jsxd, ".*", {git, "http://github.com/Licenser/jsxd.git", {tag, "0.1.6"}}},
  {eplugin, ".*", {git, "http://github.com/Licenser/eplugin.git", {tag, "0.1.1"}}},
  {ekstat, ".*", {git, "https://github.com/Licenser/ekstat.git", {tag, "0.1.0"}}},
  {libsniffle, ".*", {git, "http://github.com/project-fifo/libsniffle.git", {tag, "0.2.13"}}},
  {libsnarl, ".*", {git, "http://github.com/project-fifo/libsnarl.git", {tag, "0.2.11"}}},
  {libhowl, ".*", {git, "http://github.com/project-fifo/libhowl.git", {tag, "0.1.11"}}},
  {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.2"}}}
 ]}.
