{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "chunter", "0.3.5",
        [
         kernel,
         stdlib,
         sasl,
	 chunter
        ]},
       {rel, "start_clean", "",
        [kernel,
         stdlib
        ]},
       {boot_rel, "chunter"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, chunter, [{incl_cond, include}]}
      ]}.

{target_dir, "chunter"}.

{overlay_vars, "vars.config"}.


{overlay, [
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/chunter", "bin/chunter"},
           {template, "files/chunter.xml", "etc/chunter.xml"},
           {template, "files/epmd.xml", "etc/epmd.xml"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {copy, "../LICENSE", "LICENSE"},
           {copy, "../README.md", "README.md"}
          ]}.
