{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "chunter", "0.6.0p3",
        [
         kernel,
         stdlib,
         sasl,
         chunter
        ]},
       {rel, "start_clean", "",
        [kernel,
         stdlib
        ]},
       {boot_rel, "chunter"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, chunter, [{incl_cond, include}]}
      ]}.

{target_dir, "chunter"}.

{overlay_vars, "vars.config"}.


{overlay, [
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},
           {template, "../schema/chunter.schema", "share/schema/00-chunter.schema"},
           {template, "../deps/libsnarl/priv/libsnarl.schema", "share/schema/01-libsnarl.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/01-vm.schema"},
           {template, "../schema/lager.schema", "share/schema/02-lager.schema"},
           {template, "../deps/mdns_client_lib/priv/mdns_client.schema", "share/schema/01-mdns_client.schema"},
           {template, "files/chunter", "bin/chunter"},
           {template, "files/update", "bin/update"},
           {template, "files/chunter.version", "etc/chunter.version"},
           {copy, "../plugins", "plugins"},
           {copy, "../LICENSE", "LICENSE"},
           {copy, "../README.md", "README.md"}
          ]}.
