{log_path,              "/var/log/chunter"}.
{crash_dump,            "/var/log/chunter"}.
{db_path,               "/var/tmp"}.
{node,                  "chunter@127.0.0.1"}.
{cookie,                "chunter"}.
{service,               "chunter"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "chunter.conf"}.

{bugsnag_app,           "chunter"}.
{bugsnag_release_state, "release"}.
{bugsnag_app_version,   "0.8.0"}.
