[{gproc, [{gproc_dist, all}]},
 {nodefinder,
   [{addr, {224,42,23,1}},
    {port, 4223},
    {multicast_ttl, 1}]},
 {lager, 
  [{handlers, [
	       {lager_console_backend, info},
	       {lager_file_backend, [{"/var/log/fifo/chunter/error.log", error},
				     {"/var/log/fifo/chunter/warning.log", warning},
				     {"/var/log/fifo/chunter/debug.log", debug},
				     {"/var/log/fifo/chunter/console.log", info}
				    ]}
	      ]},
   {crash_log, "{{platform_log_dir}}/crash.log"},
	  {crash_log_size, 65536},
	  {error_logger_redirect, true}
  ]}
].

