[{gproc, [{gproc_dist, all}]},
 {redgrid,
  [{url, "_REDIS_URL_"},
   {meta, []},
   {anonymous, false},
   {domain, "_REDIS_DOMAIN_"},
   {version, ""},
   {local_ip, "_OWN_IP_"}
  ]},
 {lager, 
  [{handlers, [
	       {lager_console_backend, info},
	       {lager_file_backend, [{"/var/log/fifo/chunter/error.log", error},
				     {"/var/log/fifo/chunter/warning.log", warning},
				     {"/var/log/fifo/chunter/console.log", info}
				    ]}
	      ]},
   {crash_log, "{{platform_log_dir}}/crash.log"},
	  {crash_log_size, 65536},
	  {error_logger_redirect, true}
  ]}
].

